# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# R / Stan build artifacts
.Rhistory
.RData
stan/*.exe

# OS
.DS_Store
Thumbs.db
